<html>
<head>
	<title>Menu principal</title>
	{% block styles %}
	<link rel="stylesheet" href="{{url_for('.static' , filename = 'materialize.min.css')}}">
	<link rel="stylesheet" href="{{url_for('.static' , filename = 'fontawesome/css/all.min.css')}}">
	{% endblock %}
</head>
<body>
	<div class="container">
		<div class="row">	
			<div class="col s12">			
				<h1 class="blue-text text-darken-4 center">Bienvenido <i class="fas fa-user"></i><i></h1>
			</div>			
		</div>		
		<div class="row">
			
			<div class="col s12">
				<img class="responsive-img" src=" {{ url_for('static', filename='red.png') }}">
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<form action="/Routers" method="post" id="nameform" target="_blank"></form>
				<button type="submit" class="btn deep-purple darken-1 " form="nameform" value="Submit">Ver informacion
					de routers</button>
			</div>
			<div class="col s6">
			<div class="fixed-action-btn">
			<a class="btn-floating btn-large waves-effect waves-light blue" href="{{ url_for('EditarRouter') }}">
			<i class="fas fa-edit"></i>
			</a>
			</div>
				
		
			</div>
		</div>
	</div>
</body>

</html>
